@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-ms-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
}

img:hover {
	scale: 101%;
}

@layer base {
	section {
		@apply mb-10;
	}
}
